body {
	height: 100vh;
	background: black;
	color: white;
	margin: 0;
	overflow: hidden;
}
#credits {
	display: grid;
	justify-content: center;
	grid-gap: 1.4rem;
	text-align: center;
	text-transform: uppercase;
	-webkit-animation: 30s credits linear infinite;
	        animation: 30s credits linear infinite;
}
.app {
	font-size: 3.2rem;
}
.job {
	font-size: 1.2rem;
	color: grey;
}
.name {
	font-size: 1.8rem;
}

.specialthx {
	
	font-size: 1.2rem;
}
@-webkit-keyframes credits {
	0% { -webkit-transform: translateY(100%); transform: translateY(100%); }
	100% { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}
@keyframes credits {
	0% { -webkit-transform: translateY(100%); transform: translateY(100%); }
	100% { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}